shift + tab => docstring
ctrl + enter => execute cell code
shift + Enter => execute cell and shift control to next cell

In [1]:
#This is a comment

4+3

7

In [2]:
9*7

63

In [3]:
6-5

1

In [4]:
100/5

20.0

In [5]:
# Modulus- gives remainder
print(45546 % 10)
print(-48 % 7)
# For -ve nos it gives result that should be added to give next multiple (of 7 in this case)
print(48 % -10)

6
1
-2

In [6]:
# Floor division - applies greatest integer function to quotient

a = 45 // 8
b = -45 // 8
c = 45//9
print(a,"   ",b,"   ",c,"   ")

5     -6     5

In [7]:
# Power

5 ** 3

125

In [8]:
# Root
25 ** 0.5

5.0

Calculations follow precedence rule (Calc from left-right)
1) parentheses
2) unary
3) Powers
4) multiplecation division modulo
5) + -

In [9]:
print(4-8*9)

# 4 - 72
# -68

print(5+6 *3/2)

# 5 + 18/2
# 5+9
# 14.0 

print(5+6*3**2)

# 5 + 6 * 9
# 5 + 54
# 59      

print((8-7) * 48 % (5 +2))
# 1 * 48 % (5 +2)
# 48 % (5+2)
# 48 % 7
# 6.0

-68
14.0
59
6

In [10]:
# list of keywords

import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
36

Rules to write identifiers:
    
    Names given to entities like class, fns, arrays, variables, etc. 
    
    # Can be a combination of letters in upper or lowercase, digits or underscore.
      (Double underscores are also allowed (in python), but no other punctuation marks are allowed)
    # Must NOT start with a digit
    # Keywords can't be used as identifiers

In [11]:
#_global=10
#print(_global)

#global1="Akshitha"
#print(global1)

#False=45                #False is a keyword (note upper&lowercase letters)
#print(False)

#falsE=2
#print(falsE)

#5as="Ashwin"
#print("5as")

In [12]:
name="akshitha"
lang = """Python"""
animal = 'cats'

print(type(name))
print("Good night, ",name)

print(type(lang))
print(type(animal))

# Anything enclosed in single, double or triple quotes is a string

<class 'str'>
Good night,  akshitha
<class 'str'>
<class 'str'>

if we want to keeep the body empty, just write pass or otherwise it will give error
when all args have some default value u can leave bracket empty

In [13]:
a=4
b="5"
print(a+a,"   ",b+b)

8     55

In [14]:
""" DATA TYPES """

a=8
print(type(a))

a="apple"
print(type(a))

a=8.0
print(type(a))

a='a'
print(type(a))

a=()
print(type(a))

a=[]
print(type(a))

a={}
print(type(a))

# Variable a is reassigned many times. 
# When a new value is given the previous value is overwritten WITH NEW ONE.

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [15]:
# Multi-line comments
"""Goodbye, I have to attend a grammarly meeting, but remember 
Writings not that easy, but Grammarly can help. This sentence is 
grammatically correct but its wordy and hard to read, it undermines
the writer's message and the word choice is bland. 
Grammarly's cutting edge technology helps you craft compelling understandable
writing, that makes an impact on your reader. Much better.
Download Grammarly now!"""
"""print("Comments aren't executed")"""

print(type('d'))

# Multi line statements

#1
a = 4 +5 +6 +6 +\
    4+ 2+ 1+ 2\
    +5 +3
print(a)

#2
b = (4 +8 +6 -1 +
    4 +3 +4 -8
    +4 +8 -1 -3)
print(b)

<class 'str'>
38
28

In [16]:
# multiple stmnts in 1 line
p = 10 ; q = 3 ; r = 78
print(p,q,r)

a = b = c = 15

x , y, z = 45, 36 , 157
print(x,y,z)

f ,g = 458, "strings"
print(f,g)

10 3 78
45 36 157
458 strings

By Convention,

variables begin with a small letter
class name begin with capital letter

camelCase
Titlecase

In [17]:
s = "akshithaSureshRao"
s.title()            # Camel case coverted to title case

'Akshithasureshrao'

= means assignment
== means comparison

In [18]:
a=45
print(a)
a==6

45

False

In [19]:
#chapter 3&4
print(a==45)

True

In [20]:
q="apple" 
w="Apple"
print("Is q=w? \t",q==w)     # Case sensitive

#For comparing, better change both to same case
print("Is it true now?\t", q.lower()==w.lower())

e=56
f=56.00
print("\nIs e=f? \t",e==f)     # Although e is int n f is float

Is q=w? 	 False
Is it true now?	 True

Is e=f? 	 True

STRINGS

A string is a sequence of characters.
 
Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.
 
This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.
 
In Python, string is a sequence of Unicode character.

In [21]:
# to print ascii value of A
ord('A')

# Although ascii value of A is 65, 'A'=65 answer will be FALSE

65

In [22]:
s = "THIS is my 1st string & \nTHIS is the 2nd. \n\nTHIS is my 1st string & \tTHIS is the 2nd."
print(s)
# '\' is used to give an escape sequence

THIS is my 1st string &
THIS is the 2nd.

THIS is my 1st string & 	THIS is the 2nd.

In [23]:
a = "Gundu "
b = "likes cats"
print(a+b)
print(a+ "also likes dogs")

Gundu likes cats
Gundu also likes dogs

In [24]:
s1 = "Jupyter"
s2 = "Notebook"
print (s1+s2)
print (s1,s2)    # Notice the space in output

# Reassigning s1 to int,

s1 = 58
print (s1,s2)
print (s1+s2)

JupyterNotebook
Jupyter Notebook
58 Notebook

TypeError: unsupported operand type(s) for +: 'int' and 'str'

print(s1+s2) gives error when s1 & s2 have different data types

but print(s1,s2) works fine both ways

In [25]:
a = 'restart'
print(len(a))         # Gives length of string (includimg spaces)

# indexing & reverse

print(a[4])
print(a[-3])

7
a
a

r = 0     -7
e = 1     -6
s = 2     -5
t = 3     -4
a = 4     -3
r = 5     -2
t = 6     -1

In [26]:
b = "a\tb\nc"
len(b)         # Escape sequences are counted as 1

5

In [27]:
b[1]

'\t'

In [28]:
_s = "PYTHONDEMOHOME"
print(_s[6:10])
print(_s[-8:-4])

# _s[start:end:stepsize], where end is EXCLUSIVE, default step size = 1

DEMO
DEMO

In [29]:
_s[6:14]

'DEMOHOME'

In [30]:
"""print(_s[1:5:-1])
print(_s[-3:-10:1])
Not possible"""

print(_s[1:10:2])

# -ve step size
print(_s[10:1:-2])

YHNEO
HMDOT

In [31]:
A = 'AMBULANCE'

print(A[0:-1])
print(A[::-1])      # String reverses

AMBULANC
ECNALUBMA

In [32]:
s2 = 'string indexing'

s2[-6]
# d

'd'

In [33]:
s ="Make it count"

print(s[4:9])            # ' it c'
print(s[3:])             # Print everything after 3rd position
print(s[-4:-9:-1])       # 'oc ti'
print(s[8:100])          # Still gave 'count'

 it c
e it count
oc ti
count

In [34]:
s = "Whiteboard zone"
s[5:5]       #'' since 5th position (end) is excluded

''

In [36]:
s = "changing The cAse"
print(s.upper())
print(s.lower())
print(s.title())

CHANGING THE CASE
changing the case
Changing The Case

In [37]:
s = 'DemoPython'

#To print oPyth
print(s[3:8])
print(s[-7:-2])
print(s[3:-2])
print(s[-7:8])
print("\n")

#to print "emoPy"
print(s[1:6])
print(s[-9:-4])
print(s[1:-4])
print(s[-9:6])

#To print Python
print("\n"+ s[4:])
print(s[-6:])
print(s[4:10],"\n")

# To print DemoP
print(s[:5])
print(s[:-5])

#Print 3 letters from end
print("\n"+s[-3:])

oPyth
oPyth
oPyth
oPyth


emoPy
emoPy
emoPy
emoPy

Python
Python
Python

DemoP
DemoP

hon

In [38]:
print(s.upper()[:5])     # Indexing & Printing in uppercase

DEMOP

In [39]:
# Reverse the string
print(s[::-1])

nohtyPomeD

In [40]:
print("Can't use apostrophe b/w single quotes")
#print('Can't use apostrophe b/w single quotes')  # Gives error
print('Can\'t use apostrophe b/w \'single quotes\'')  # Now works fine coz of \

Can't use apostrophe b/w single quotes
Can't use apostrophe b/w 'single quotes'

In [41]:
# Stripping whitespaces
x = "   My Notebook   "
print("|"+ x.strip() +"|")       # Strips spaces in beginning & end
print("|"+ x.lstrip()+ "|")      # Strips spaces on left
print("|"+ x.rstrip() +"|")      # Strips spaces on right

|My Notebook|
|My Notebook   |
|   My Notebook|

In [42]:
s1 = "Hello"
s2 = "World"
s1+ " " + "everyone in the "+s2

'Hello everyone in the World'

In [52]:
s = "Ayurvedic BotanicalExtract Recipe"

#q1:Print BotanicalExtract
print(s[10:26])
print(s[-23:-7])

#q2: Print tcartxE
print(s[-8:-15:-1])
print(s[25:18:-1])

#q3: Print yvi
print(s[1:8:3])
print(s[-32:-25:3])
print(s[1:9:3])       # works well as step size = 6

BotanicalExtract
BotanicalExtract
tcartxE
tcartxE
yvi
yvi
yvi

In [53]:
s ="Demo"
#s[1] = "u"    # TypeError: 'str' object does not support item assignment

In [55]:
s ="203045050550"
s[3:9:2]             # '055'

'055'

In [60]:
g ="stop share 1234\n567"
print(g[4:10:3])          # ' a'
print(g[-8::3])           # '146'
print(g[-8:])

 a
146
1234
567